include ../slider/slider

mixin participants()
	+b('section').participants&attributes(attributes)
		+e.container-fluid
			+e.container
				+slider(getData('participants-list'))(class='slider--parent __slider')
