.participants {
	&__container {
		@include container();
		padding-top: 2rem;
	}

	&__container-fluid {
		@include container-fluid();

		@include retina-background("participants/bg__participants--mobile", "jpg");
		background-size: cover;
		background-color: #b6bddd;
	}

	&__slider {
		@include list-clear();
	}
}
