mixin intro()
	+b.intro&attributes(attributes)
		+e.container
			span Участницы шоу
			+e('a').link(data-js='dance-logo--link', href='javascript:void(0)', onclick='return false')
				picture
					source( media='(min-width: 768px) and (max-width: 1149px)', srcset='./assets/images/page-header/logo-dance__page-header--md.png 1x, ./assets/images/page-header/logo-dance__page-header--md@2x.png 2x' )
					source( media='(min-width: 1150px)', srcset='./assets/images/page-header/logo-dance__page-header--lg.png 1x, ./assets/images/page-header/logo-dance__page-header--lg@2x.png 2x' )
					+e('img').image--dance(src='./assets/images/page-header/logo-dance__page-header--mobile.png', srcset= './assets/images/page-header/logo-dance__page-header--mobile@2x.png 2x', alt='Dance', title='Dance')
			span выбирают
			+e('a').link(data-js='kotex-product--link', href='javascript:void(0)', onclick='return false')
		picture
			source( media='(min-width: 768px) and (max-width: 1149px)', srcset='./assets/images/page-header/kotex-product__page-header--md.png 1x, ./assets/images/page-header/kotex-product__page-header--md@2x.png 2x' )
			source( media='(min-width: 1150px)', srcset='./assets/images/page-header/kotex-product__page-header--lg.png 1x, ./assets/images/page-header/kotex-product__page-header--lg@2x.png 2x' )
			+e('img').image--kotex(src='./assets/images/page-header/kotex-product__page-header--mobile.png', srcset= './assets/images/page-header/kotex-product__page-header--mobile@2x.png 2x', alt='Kotex', title='Kotex')
