.intro {
	padding-top: #{strip-unit(percentage(45/320)) + vw};

	font-size: 2vw;

	@media #{$tab-desk} {
		padding-top: 0;

		font-size: initial;
	}

	&__container {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;

		@media #{$md} {
			top: -2rem;
		}

		@media #{$lg} {
			top: -3rem;
		}
	}

	&__image {
		&--dance {
			@include padding-x( #{strip-unit(percentage(25/320)) + vw});
			padding-bottom: 0.5rem;
		}

		&--kotex {
			@include padding-x( #{strip-unit(percentage(45/320)) + vw});
		}

		@media #{$tab-desk} {
			padding: 0;
		}
	}

	& span:first-of-type,
	& span:last-of-type {
		font-weight: 800;
		color: #ffffff;
		text-transform: uppercase;
	}

	& span:first-of-type {
		padding-top: #{strip-unit(percentage(45/320)) + vw};

		@include fluid-type(font-size, 320px, 768px, 25px, 60px);

		@media #{$md} {
			padding-top: initial;

			font-size: $font-size * 1.4; // 2.8rem
		}

		@media #{$lg} {
			padding-top: initial;

			font-size: $font-size * 2.1; // 4.2rem
		}
	}

	& span:last-of-type {
		padding-bottom: #{strip-unit(percentage(35/490)) + vw};

		@include fluid-type(font-size, 320px, 768px, 40px, 94px);

		@media #{$md} {
			padding-bottom: 0;

			font-size: $font-size * 2.2; // 4.4rem
		}

		@media #{$lg} {
			padding-bottom: 0;

			font-size: $font-size * 3.25; // 6.5rem
		}
	}
}
