.intro {
	padding-top: 8.2rem;

	font-size: 2vw;

	@media #{$sm} {
		padding-top: 16.5rem;
	}

	@media #{$tab-desk} {
		padding-top: 0;

		font-size: initial;
	}

	&__image {
		&--dance {
			@include padding-x(5rem);
		}

		&--kotex {
			@include padding-x(7rem);
		}
	}

	& span:first-of-type,
	& span:last-of-type {
		font-weight: 800;
		color: #ffffff;
		text-transform: uppercase;
	}

	& span:first-of-type {
		padding-top: #{strip-unit(percentage(70/490)) + vw};

		@include fluid-type(font-size, 480px, 959px, 38px, 78px);

		@media #{$md} {
			padding-top: 7.5rem;

			font-size: 5rem;
		}

		@media #{$lg} {
			padding-top: 10rem;

			font-size: 7rem;
		}
	}

	& span:last-of-type {
		padding-bottom: #{strip-unit(percentage(55/490)) + vw};

		@include fluid-type(font-size, 480px, 959px, 60px, 120px);

		@media #{$md} {
			padding-bottom: 0;

			font-size: 7.8rem;
		}

		@media #{$lg} {
			padding-bottom: 0;

			font-size: 11rem;
		}
	}
}
