// Fonts

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobat/AkrobatExtraLight.woff") format("woff"), url("../fonts/Akrobat/AkrobatExtraLight.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobat/AkrobatLight.woff") format("woff"), url("../fonts/Akrobat/AkrobatLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobat/AkrobatThin.woff") format("woff"), url("../fonts/Akrobat/AkrobatThin.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobat/AkrobatRegular.woff") format("woff"), url("../fonts/Akrobat/AkrobatRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobat/AkrobatSemiBold.woff") format("woff"), url("../fonts/Akrobat/AkrobatSemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobat/AkrobatBold.woff") format("woff"), url("../fonts/Akrobat/AkrobatBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobat/AkrobatBlack.woff") format("woff"), url("../fonts/Akrobat/AkrobatBlack.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
