// Variables
// ==========================================================================

// == Colors
//

$color-primary:            #d72536 !default;
$color-secondary:          #002e79 !default;

$text-color:               #011232 !default;

$bg-body:                  #ffffff !default;

// == Typography
//
$font-size:                2rem !default;
$line-height:              1;
/* stylelint-disable */
$font-family--sans-serif:  "Akrobat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--serif:       Georgia, "Times New Roman", Times, serif;
$font-family--monospace:   "Courier New", Menlo, Monaco, Consolas, "Liberation Mono", monospace;
/* stylelint-enable */

$font-family:              $font-family--sans-serif !default;

// == Media queries breakpoints
//
$xs:                       "only screen and (min-width: 320px) and (max-width: 575px)";
$sm:                       "only screen and (min-width: 576px) and (max-width: 767px)";
$md:                       "only screen and (min-width: 768px) and (max-width: 1149px)";
$lg:                       "only screen and (min-width: 1150px)";

$retina2x:                 "(min-resolution: 1.5dppx)";

// mobile + tablet
$portable:                 "only screen and (max-width: 767px)";

// tablet + desktop:  more than mobile
$tab-desk:                 "only screen and (min-width: 768px)";

// == Container sizes
//
$container--xs:           320px !default;
$container--sm:           576px !default;
$container--md:           768px !default;
$container--lg:           1150px !default;

// == Paddings and margins
//
$offset--xs:               12px !default;
$offset--sm:               20px !default;
$offset--md:               61px !default;
$offset--lg:               92px !default;

