extends ../blocks/layout-default/layout-default

//- page-header
include ../blocks/page-header/page-header
include ../blocks/main-content/main-content
include ../blocks/photo-upload/photo-upload

block head
	- var pageTitle = 'Kotex';

block content
	+page-header
	+main-content
		+photo-upload
