.logo {
	width: 120px;
	height: 96px;

	background-color: #ffffff;

	@media #{$sm} {
		width: 215px;
		height: 172px;
	}

	@media #{$md} {
		width: 115px;
		height: 93px;
	}

	@media #{$lg} {
		width: 173px;
		height: 139px;
	}

	&__link {
		text-indent: -9999999px;

		@include retina-sprite($logo_kotex__page_header_xs_group);

		@media #{$sm} {
			@include retina-sprite($logo_kotex__page_header_sm_group);
		}

		@media #{$md} {
			@include retina-sprite($logo_kotex__page_header_md_group);
		}

		@media #{$lg} {
			@include retina-sprite($logo_kotex__page_header_lg_group);
		}
	}
}
