.page-header {
	position: relative;

	display: flex;
	flex-direction: column;
	margin-bottom: 4.5rem;

	background-color: $color-secondary;

	@media #{$md} {
		margin-bottom: 1rem;
	}

	@media #{$lg} {
		margin-bottom: 1.5rem;
	}

	&__container-fluid {
		position: relative;

		display: flex;
		flex-direction: column;

		@include container-fluid();
		min-height: calc(405px + #{percentage(50/320)});

		@include retina-background("page-header/bg__page-header--mobile", "jpg");
		background-size: cover;

		@media #{$md} {
			min-height: calc(300px + 115px);
		}

		@media #{$lg} {
			min-height: calc(385px + 130px);
		}

		@media #{$tab-desk} {
			@include retina-background("page-header/bg__page-header--tab-desk", "jpg");
			background-size: cover;
			background-repeat: no-repeat;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
		}

		&::before {
			top: 0;

			width: 100%;
			height: 42px;

			background-color: $color-primary;

			@media #{$sm} {
				height: 75px;
			}

			@media #{$md} {
				height: 56px;
			}

			@media #{$lg} {
				height: 83px;
			}
		}

		&::after {
			bottom: 0;

			display: flex;
			flex-direction: column;
			width: 100%;
			height: percentage(50/320);

			background-color: #ffffff;

			@media #{$md} {
				height: 115px;
			}

			@media #{$lg} {
				height: 130px;
			}
		}
	}

	&__container {
		display: flex;
		flex-direction: column;

		@include padding-x($offset--xs);

		@media #{$sm} {
			@include padding-x($offset--sm);
		}

		@media #{$tab-desk} {
			@include container();
		}
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 50%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		transform: translateX(-50%);

		@media #{$tab-desk} {
			position: relative;
			transform: translateX(0);
		}

		@media #{$md} {
			top: -56px;
			left: initial;
		}

		@media #{$lg} {
			top: -83px;
			left: initial;
		}
	}

	&__nav {
		display: flex;
	}

	&__intro {
		position: relative;
		z-index: 5;
	}
}
