include ../nav/nav
include ../logo/logo
include ../intro/intro

mixin page-header()
	+b('header').page-header&attributes(attributes)
		+e.container-fluid
			+e.container
				+nav(class='__nav')
				+logo(class='__logo')
				+intro(class='__intro')
