.slide {
	$root: &;
	width: 100%;
	max-width: 100%;

	&__heading {
		& > h2 {
			margin: 0;
			padding: 0;

			font-style: normal;
			font-weight: 800;
			line-height: 1;
			color: $color-secondary;
			text-align: center;
			text-transform: uppercase;
			white-space: nowrap;
		}

		@media #{$tab-desk} {
			width: 100%;
		}
	}

	&__link {
		display: block;

		font-style: normal;
		line-height: 1;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__content {
		position: relative;

		margin: 0;
		padding: 0;

		&::before {
			content: "";

			position: absolute;

			font-weight: 800;

			@include retina-background("participants/icon-kotex__participants");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&::after {
			content: "#двигайсявперед";

			position: absolute;

			display: block;

			font-weight: 700;

			background-color: $color-primary;
		}
	}

	&__caption {
		display: block;

		font-style: normal;
		font-weight: 700;
		line-height: 1;
		color: #ffffff;
		text-transform: uppercase;

		background-image: url("../images/participants/bg__slide_caption.svg"), url("../images/participants/bg__slide_caption.jpg");

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: url("../images/participants/bg__slide_caption.svg"), url("../images/participants/bg__slide_caption@2x.jpg");
		}
		background-size: 50% 100%, cover;
		background-position: top left, 90% 50%;
		background-repeat: no-repeat;
	}

	&__slogan {
		position: absolute;

		font-weight: 800;
	}

	&--parent {
		@include margin-x(3rem);

		@media #{$tab-desk} {
			@include margin-x(1.6rem);
		}

		#{$root}__heading {
			& > h2 {
				padding-bottom: 2rem;

				@include fluid-type(font-size, 320px, 767px, 20px, 50px);

				@media #{$md} {
					padding-bottom: 2.5rem;

					font-size: 2.7rem;
				}

				@media #{$lg} {
					padding-bottom: 3.5rem;

					font-size: 4rem;
				}
			}
		}

		> #{$root}__link {
			@include padding-x(3rem);
			margin-bottom: 3rem;

			@media #{$tab-desk} {
				@include margin-x(initial);
				margin-bottom: 0;
			}

			@media #{$md} {
				width: calc(#{percentage(2/5)} - 1.6rem);
				margin-right: 1.6rem;
			}

			@media #{$lg} {
				width: calc(#{percentage(2/5)} - 2.4rem);
				margin-right: 2.4rem;
			}
		}

		#{$root}__content {
			&::before {
				top: calc(10px + 5px);
				left: calc(10px + 5px);

				@include size(percentage(35/240));
			}

			&::after {
				left: calc(10px + 5px);
				bottom: 20px;

				@include padding-x(0.5rem);
				@include padding-y(1rem);

				@include fluid-type(font-size, 320px, 767px, 13px, 38px);

				@media #{$md} {
					font-size: 1.6rem;
				}

				@media #{$lg} {
					font-size: 2.2rem;
				}
			}
		}

		#{$root}__caption {
			padding-left: 1.5rem;

			@include padding-y(1.5rem);

			@include fluid-type(font-size, 320px, 767px, 15px, 42px);

			@media #{$md} {
				font-size: 1.8rem;
			}

			@media #{$lg} {
				font-size: 2.1rem;
			}
		}

		#{$root}__slogan {
			left: calc(10px + 5px);
			bottom: calc(35px + 8%);

			@include fluid-type(font-size, 320px, 767px, 17px, 48px);
			text-shadow: 0 0 0.75rem rgba(#000000, 0.75);

			@media #{$md} {
				bottom: 60px;
				font-size: 2.1rem;
			}

			@media #{$lg} {
				bottom: 70px;
				font-size: 2.8rem;
			}
		}

		#{$root}__image {
			border: 10px solid #ffffff;
		}
	}

	&--child {
		lost-column: 1/3 auto 1rem;

		@media #{$md} {
			lost-column: 1/3 auto 1.6rem;
		}

		@media #{$lg} {
			lost-column: 1/3 auto 2.4rem;
		}

		#{$root}__content {
			&::before {
				top: calc((10px + 5px) / 3);
				left: calc((10px + 5px) / 3);

				@include size(calc(percentage(35/240) / 3));
			}

			&::after {
				left: calc((10px + 5px) / 3);
				bottom: calc(20px / 3);

				@include padding-x(calc(0.5rem / 3));
				@include padding-y(calc(1rem / 3));

				// 13/3 = 4.333333333333333, 38/3 = 12.666666666666667
				@include fluid-type(font-size, 320px, 768px, 4.333333333333333px, 12.666666666666667px);

				@media #{$md} {
					font-size: calc(1.6rem / 3);
				}

				@media #{$lg} {
					font-size: calc(2.2rem / 3);
				}
			}
		}

		#{$root}__caption {
			padding-left: calc(1.5rem / 3);

			@include padding-y(calc(1.5rem / 3));

			// 15/3 = 5, 42/3 = 14
			@include fluid-type(font-size, 320px, 767px, 5px, 14px);

			@media #{$md} {
				font-size: calc(1.8rem / 3);
			}

			@media #{$lg} {
				font-size: calc(2.1rem / 3);
			}
		}

		#{$root}__slogan {
			left: calc((10px + 5px) / 3);
			bottom: calc(35px / 3 + 8%);

			// 17/3 =5.666666666666667, 48/3 = 16
			@include fluid-type(font-size, 320px, 767px, 5.666666666666667px, 16px);

			// 0.75/3 = 0.25
			text-shadow: 0 0 0.25rem rgba(#000000, 0.25);

			@media #{$md} {
				bottom: calc(60px / 3);
				font-size: calc(2.1rem / 3);
			}

			@media #{$lg} {
				bottom: calc(70px / 3);
				font-size: calc(2.8rem / 3);
			}
		}

		#{$root}__image {
			border: calc(10px / 3) solid #ffffff;
		}
	}
}
