include ../slide/slide

mixin slider(tree)
	+b('div').slider(data-js='slider--parent')&attributes(attributes)
		each item in tree
			+slide(item)(class='__slide')
				if item.content
						+slider(item.content)(class='--child')


		+e('button').prev(type='button', aria-label='previous')
			svg(viewBox='0 0 100 100')
				+e('path').arrow(d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z")

		+e('button').next(type='button', aria-label='next')
			svg(viewBox='0 0 100 100')
				+e('path').arrow(d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z")

