.slick {
	$root: &;

	&-arrow,
	&-dots button {
		padding: 0;

		text-indent: -6666px;
		background-color: transparent;
		border: none;

		cursor: pointer;
	}

	&-arrow {
		position: absolute;

		@include fluid-type(width, 320px, 767px, 20px, 50px);
		@include fluid-type(height, 320px, 767px, 20px, 50px);
		background-image: url("../images/participants/icon-arrow__participants.svg");
		background-repeat: no-repeat;
	}

	&-prev {
		transform: rotate(0);
	}

	&-next {
		transform: rotate(180deg);
	}

	&-dots {
		position: absolute;
		left: 50%;

		@include list-clear();
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 100px;

		transform: translateX(-50%);

		@media #{$md} {
			bottom: -2.5rem;

			height: 10px;
		}

		@media #{$lg} {
			bottom: -3.5rem;

			height: 15px;
		}

		& > li {
			background-color: #d2d2d2;
			border-radius: 50%;

			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}

			@media #{$md} {
				width: 10px;
				height: 10px;
				margin-right: 5px;
			}

			@media #{$lg} {
				width: 15px;
				height: 15px;
				margin-right: 10px;
			}
		}

		& > #{$root}-active {
			background-color: $color-primary;
		}
	}
}

.slider {
	&--parent {
		position: relative;

		@include padding-y(2rem);

		@media #{$md} {
			@include padding-y(3.5rem);
		}

		@media #{$lg} {
			@include padding-y(5rem);
		}

		& > .slick-arrow {
			top: 2rem;

			@media #{$md} {
				top: 3.5rem;

				width: 25px;
				height: 25px;
			}

			@media #{$lg} {
				top: 5rem;

				width: 40px;
				height: 40px;
			}
		}

		& > .slick-prev {
			left: -$offset--xs;

			@media #{$sm} {
				left: -$offset--sm;
			}

			@media #{$md} {
				left: calc(50% - 185px);
			}

			@media #{$lg} {
				left: calc(50% - 285px);
			}
		}

		& > .slick-next {
			right: -$offset--xs;

			@media #{$sm} {
				right: -$offset--sm;
			}

			@media #{$md} {
				right: calc(50% - 185px);
			}

			@media #{$lg} {
				right: calc(50% - 285px);
			}
		}
	}

	&--child {
		@include padding-x(3rem);
		display: flex;

		overflow: hidden;

		@media #{$tab-desk} {
			@include padding-x(0);
			width: percentage(3/5);

			overflow: visible;
		}

		@media #{$md} {
			margin-bottom: 2.5rem;
		}

		@media #{$lg} {
			margin-bottom: 3.5rem;
		}

		& > .slick {
			&-arrow {
				top: 50%;

				@include fluid-type(width, 320px, 767px, 15px, 37.5px);
				@include fluid-type(height, 320px, 767px, 15px, 37.5px);

				transform: translateY(-50%);
			}

			&-prev {
				left: 0;
			}

			&-next {
				right: 0;

				transform: translateY(-50%) rotate(180deg);
			}

			// &-list {
			// 	@include margin-x(-1rem);
			// }

			// &-slide {
			// 	@include margin-x(1rem);
			// }

			// &-active {
			// 	&:first-child,
			// 	&:last-child {
			// 		@include margin-x(0);
			// 	}
			// }
		}
	}
}
