include ../slide/slide

mixin slider(tree)
	+b('div').slider(data-js='slider--parent')&attributes(attributes)
		each item in tree
			+slide(item)(class='__slide')
				if item.content
					+slider(item.content)(data-js='slider--child', class='--child')
