.slider {
	@include list-clear();

	&--parent,
	&--child {
		display: flex;
	}

	&--parent {
		flex-direction: column;
		padding-top: 2rem;
	}

	&--child {
		flex-wrap: wrap;

		@media #{$tab-desk} {
			width: percentage(3/5);
		}
	}
}
