mixin photo-upload()
	+b('section').photo-upload&attributes(attributes)
		+e.container
			+e('header').heading
				| хочешь попасть на&nbsp;съемки шоу танцы?
			+e('ul').list
				each val, index in ['Загружай фотографии своей активной жизни', 'Делись ими в&nbsp;социальных сетях', 'Каждую неделю Kotex выбирает Победительницу и&nbsp;дарит билеты на&nbsp;съемки шоу «ТАНЦЫ»!']
					+e.item
						| #{index + 1}. !{val}
			+e('button').btn(type='file', value='upload')
				| Загрузи фото
			+e.link(href='#')
				| Полные правила акции

			//- picture
			//- 	source( media='(min-width: 768px)', srcset='./assets/images/photo-upload/bg__photo-upload--tab-desk.jpg 1x, ./assets/images/photo-upload/bg__photo-upload--tab-desk@2x.jpg 2x' )
			//- 	+e('img').image(src='./assets/images/photo-upload/bg__photo-upload--mobile.jpg', srcset= './assets/images/page-header/bg__photo-upload--tab-desk@2x.jpg 2x', alt='Dance', title='Dance')
