mixin photo-upload()
	+b('section').photo-upload&attributes(attributes)
		+e('header').heading
			| хочешь попасть на съемки шоу танцы?
		+e('ul').list
			each val, index in ['Загружай фотографии своей активной жизни', 'Делись ими в социальных сетях', 'Каждую неделю Kotex выбирает Победительницу и дарит билеты на съемки шоу «ТАНЦЫ»!']
				+e.item
					| #{index + 1}. !{val}
		+e('button')(type='file', value='upload')
			| Загрузи фото
		+e.link(href='#')
			| Полные правила акции
