mixin photo-upload()
	+b('section').photo-upload&attributes(attributes)
		+e.container-fluid
			+e.container
				+e('header').heading
					h2
						| хочешь попасть на&nbsp;съемки шоу танцы?
				+e.container-inner
					+e('ul').list
						each val, index in ['Загружай фотографии своей активной жизни', 'Делись ими в&nbsp;социальных сетях', 'Каждую неделю Kotex выбирает Победительницу и&nbsp;дарит билеты на&nbsp;съемки шоу «ТАНЦЫ»!']
							+e.item
								| <span>#{index + 1}.</span> !{val}
					+e('button').btn(type='file', value='upload')
						| Загрузи фото
					+e.link(href='#')
						| Полные правила акции
